<li id="life">
  <%= link_to life_posts_path do %>
    <i class="fa fa-heartbeat" aria-hidden="true"></i> Life Science
  <% end %>
</li>

<li id="physical">
  <%= link_to physical_posts_path do %>
    <i class="fa fa-cogs" aria-hidden="true"></i> Physical Science
  <% end %>
</li>

<li id="applied">
  <%= link_to applied_posts_path do %>
    <i class="fa fa-building" aria-hidden="true"></i> Applied Science
  <% end %>
</li>