<div class="container new-post">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h1>Upload your Research</h1>
        <%= render 'posts/new/post_form' %>
    </div>
  </div>
</div>